html {
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100%;
	border-radius: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

#noscript-container {
	display: grid;
	overflow: auto;
	padding: 5% 5%;
	max-width: 60vw;
	max-height: 60vh;
	place-items: center;
	border-radius: 10px;
	background-color: #A6A6A640;
	box-shadow: 0 4px 8px #34C9AE80;
}

#noscript-info {
	color: #34C9AE;
	text-align: center;
	font-family: "Georgia", serif;
}

#noscript-info h3 {
	color: #189981;
}