#config-installer-root {
  font-family: "sans-serif";
  max-width: 600px;
  margin: auto;
  padding: 8rem 2rem 2rem 2rem;
  position: relative;
}

h1 {
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 2rem;
}

.configType {
    color: black;
}

#folder-area {
  border: 2px dashed #555;
  border-radius: 8px;
  padding: 3rem;
  text-align: center;
  background: #2e2e3e;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hint-text {
  font-size: 0.9rem;
  color: #aaa;
}

#config-info-preview {
  background: #2e2e3e;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

#config-info {
  font-size: 0.9rem;
  background: #23233a;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
}

#config-info p {
  margin: 0.3em 0;
}

#config-info strong {
  color: #89b4fa;
}

#apply-button {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex: 1;
  padding: 0.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background: #50fa7b;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

#status {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background: #2e2e3e;
}
